@mixin addons {
  .button-default {
    border-color: var(--button-default-color);
    background: var(--button-default-color);
    color: var(--button-default-text-color);
    height: 40px !important;
    width: 40px !important;
    padding: 0;
  }

  .button-default-space {
    border-color: var(--button-default-color);
    background: var(--button-default-color);
    color: var(--button-default-text-color);
    height: 40px !important;
    width: 240px !important;
    padding: 0;
  }

  .button-to-press {
    background: rgba(252,70,107,1);
    height: 40px !important;
    width: 40px !important;
    padding: 0;
  }
}
